<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
	xmlns:p="http://www.springframework.org/schema/p"  
	 xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    
 	xsi:schemaLocation="http://www.springframework.org/schema/beans      
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		  http://www.springframework.org/schema/context
 			 http://www.springframework.org/schema/context/spring-context-2.5.xsd">
 			 
		<!--Bean for the jdbc connection  -->
	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource"
			name="dsObj"
			p:driverClassName="oracle.jdbc.OracleDriver"
			p:url="jdbc:oracle:thin:@localhost:1521:xe"
			p:username="system"
			p:password="oracle" />
			<!-- Bean for Jdbc  Template -->
			<bean class="org.springframework.jdbc.core.JdbcTemplate"
			name="jtObj"
			p:dataSource-ref="dsObj"
			/>
	
	
	</beans>
